
  <h1>Resources</h1>

<h3> Coding Resources </h3>
  <!-- <div class="row center-align">
    <div class="col s4">
      <div class="card-panel">
        <h4>Scratch</h4>
        <%= button_to 'Go To Site', 'https://www.scratch.mit.edu/', class: 'waves-effect waves-light btn'%>
      </div>
    </div>
    <div class="col s4">
      <div class="card-panel">
        <h4>MadeWithCode.org</h4>
        <%= button_to 'Go To Site', 'https://www.madewithcode.org/', class: 'waves-effect waves-light btn'%>
      </div>
    </div>
    <div class="col s4">
      <div class="card-panel">
        <h4>Code.Org</h4>
        <%= button_to 'Go To Site', 'https://www.code.org/', class: 'waves-effect waves-light btn'%>
      </div>
    </div>

    <div class="col s4">
      <h5>Code.Org Star Wars</h5>
      <%= button_to 'Go To Site', 'https://code.org/starwars', class: 'waves-effect waves-light btn'%>
    </div>
    <div class="col s4">
      <h4>MadeWithCode.org</h4>
      <%= button_to 'Go To Site', 'https://www.madewithcode.org/', class: 'waves-effect waves-light btn'%>
    </div>
    <div class="col s4">
      <h4>Code.Org</h4>
      <%= button_to 'Go To Site', 'https://www.code.org/', class: 'waves-effect waves-light btn'%>
    </div> -->
  </div>
