<footer class="page-footer">
    <div class= "left">
      <%= link_to root_path do %>
        <%= image_tag 'Creative-Tech-Kids.png', class: 'brand-logo' %>
      <% end %>
      <div class="">
        <%= link_to 'https://www.facebook.com/creativetechkids/' do %>
          <i class="fa fa-facebook"></i>
        <% end %>
        <%= link_to 'https://twitter.com/creativetechkid' do %>
          <i class="fa fa-twitter"></i>
        <% end %>
        <%= link_to 'https://www.instagram.com/creativetechkids/' do %>
          <i class="fa fa-instagram"></i>
        <% end %>
        <%= link_to 'https://www.pinterest.com/creativetechkid/' do %>
          <i class="fa fa-pinterest"></i>
        <% end %>
      </div>
    </div>
    <div class="right">
      Creative Tech Kids, Inc.<br>
      8235 NE 2nd Ave #108<br>
      Miami, FL 33138
      © 2016
    </div>
  </div>
</footer>
