<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Logo -->
      <%= image_tag 'Creative-Tech-Kids.png', class: 'mdl-layout-title' %>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <%= link_to 'Mission', welcome_mission_path, class: 'mdl-navigation__link' %>
        <%= link_to 'Blog', posts_path, class: 'mdl-navigation__link' %>
        <%= link_to 'Resources', welcome_resources_path, class: 'mdl-navigation__link' %>
        <%= link_to 'Contact', root_path, class: 'mdl-navigation__link' %>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <%= image_tag 'Creative-Tech-Kids.png', class: 'mdl-layout-title' %>
    <nav class="mdl-navigation">
      <%= link_to 'Mission', welcome_mission_path, class: 'mdl-navigation__link' %>
      <%= link_to 'Blog', posts_path, class: 'mdl-navigation__link' %>
      <%= link_to 'Resources', welcome_resources_path, class: 'mdl-navigation__link' %>
      <%= link_to 'Contact', root_path, class: 'mdl-navigation__link' %>
    </nav>
  </div>
</div>
