<nav>
  <div class="nav-wrapper">
    <%= link_to root_path do %>
      <%= image_tag 'Creative-Tech-Kids.png', class: 'brand-logo' %>
    <% end %>
    <ul id="nav-mobile" class="right header-navigation">
      <li><%= link_to 'Blog', posts_path, class: 'mdl-navigation__link' %></li></li>
      <li><%= link_to 'Resources', welcome_resources_path, class: 'mdl-navigation__link' %>
      <li><%= link_to 'Contact', root_path, class: 'mdl-navigation__link' %></li>
    </ul>
  </div>
</nav>
